<div id="intro">
<div class="jumbotron">
  <div style="text-align:center">
    <h1>
      Quotes!
    </h1>
  </div>

  <h2>Let's write some quotes: </h2>
</div>
<div class="card">
  <div class="container"  *ngFor='let quote of quotes;let i = index'>

    <ul>
      <li> {{quote.quote}}- {{quote.upVotes}} -{{quote.downVotes}} -{{quote.author}} -{{quote.date}}</li>

    </ul>
    <ul>
      <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
    </ul>



  </div>
</div>
</div>
<app-qoute-form (addQuote)="addNewQuote($event)"></app-qoute-form>


